$primary: #3ea4df
$highlight: #df3ea4

$gray-dark: #2f2f2f
$gray-mid: #888888
$gray-light: #f2f2f2

$font-display: 'DM Serif Display', serif
$font-copy: 'Castoro', serif

$font-size-mobile: medium
$font-size-desktop: medium

$breakpoint-tablet: 768px
$breakpoint-4k: 2560px

*
    font-family: $font-copy
    font-size: $font-size-mobile

    @media ( min-width: $breakpoint-tablet )
        font-size: $font-size-desktop

html, body
    display: flex
    flex: 1
    flex-direction: column
    align-items: center
    width: 100%
    min-height: 100%
    padding: 0
    margin: 0

body
    background-color: $gray-light

#main-container
    display: flex
    flex: 1
    flex-direction: column
    align-items: center

    @media ( min-width: $breakpoint-tablet )
        flex-direction: row
        width: 50%
        align-items: stretch

    @media (min-width: $breakpoint-4k)
        width: 35%

section.content
    flex: 1
    background-color: white
    padding: 2em
    height: inherit

h1
    font-family: $font-display
    font-size: x-large

nav
    align-self: flex-start
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    padding: 0.5em

    @media ( min-width: $breakpoint-tablet )
        flex-direction: column
        position: sticky
        top: 0

%link
    text-decoration: none
    color: $primary

%link:hover, %link:active, %link:focus
    @extend %link
    color: $highlight

a
    @extend %link

.nav-link
    @extend %link
    margin-right: 1em

.nav-link.active
    @extend %link, :active
