nav
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: baseline
    position: sticky
    top: 0
    width: 100%
    padding-top: 0.5em
    padding-bottom: 0.5em
    background-color: $gray-dark
    box-shadow: 0 0 15px 0 black

    @media ( min-width: $breakpoint-tablet )
        background: none
        align-self: flex-start
        justify-content: flex-start
        align-items: flex-start
        flex-direction: column
        width: auto
        padding-top: 2em
        margin-right: 2em
        box-shadow: none

.nav-link
    @extend %link
    color: white
    font-size: large

.nav-link.active
    @extend %link, :active
